<% content_for :title do %><%= params[:channel] %>
<% end %>
<% content_for :channel do %><%= params[:channel] %>
<% end %>
<div class="panel callout radius">
    <h1 class="text-center">
        <% all = params[:all] %>
        <% case params[:user_level] %>
        <% when 'all' %>
            <%= "All commands for #{params[:channel]}" %>
        <% when 'usr' %>
            <%= "Commands for a user of #{params[:channel]}" %>
        <% when 'sub' %>
            <% if !all.nil? && all == 'all' %>
                <%= "All commands for a subscriber of #{params[:channel]}" %>
            <% else %>
                <%= "Subscriber commands for #{params[:channel]}" %>
            <% end %>
        <% when 'reg' %>
            <% if !all.nil? && all == 'all' %>
                <%= "All commands for a regular of #{params[:channel]}" %>
            <% else %>
                <%= "Regular commands for #{params[:channel]}" %>
            <% end %>
        <% when 'mod' %>
            <% if !all.nil? && all == 'all' %>
                <%= "All commands for a moderator of #{params[:channel]}" %>
            <% else %>
                <%= "Moderator commands for #{params[:channel]}" %>
            <% end %>
        <% when 'smd' %>
            <% if !all.nil? && all == 'all' %>
                <%= "All commands for a super-moderator of #{params[:channel]}" %>
            <% else %>
                <%= "Super-Moderator commands for #{params[:channel]}" %>
            <% end %>
        <% when 'own' %>
            <% if !all.nil? && all == 'all' %>
                <%= "All commands for the broadcaster of #{params[:channel]}" %>
            <% else %>
                <%= "Broadcaster only commands for #{params[:channel]}" %>
            <% end %>
        <% when 'int' %>
            <%= "Internal commands for #{params[:channel]}" %>
        <% else %>
        <% end %></h1>
</div>
<% if @writable %>
    <a href="#" class="button expand">New</a>
<% end %>
<table class="responsive">
    <thead>
    <tr>
        <th width="150">Name</th>
        <th width="100%">Response/Script</th>
        <th width="150">User Level</th>
        <% if @writable %>
            <th></th>
        <% end %>
    </tr>
    </thead>
    <tbody>
    <%index=0 %>
    <% @command.each do |command| %>
        <% enabled = command.enabled == 'true'%>
        <%= enabled ? raw('<tr>') : raw('<tr title="This Command is DISABLED" style="background-color: #F9D2D4;">') %>
        <td><%= command.name %></td>
        <td><%= command.script.nil? ? command.response : raw('<b>[Script]</b>')+" #{command.script}" %></td>
        <td><%= command.execUserLevel.capitalize! %></td>
        <% if @writable %>
            <td><div><a href="#" style="margin: auto" data-reveal-id="editModal" class="button small split">Edit <%= raw("<span data-dropdown='drop-#{index}'>")%></span></a></div><%=raw("<ul id='drop-#{index}' class='f-dropdown' data-dropdown-content>")%>
                <li><a href="#"><%= enabled ? 'Disable' : 'Enable' %></a></li>
                <li><a data-reveal-id="deleteModal" href="#">Delete</a></li>
                </ul>
            </td>
        <% end %>
        </tr>
        <%index+=1%>
    <% end %>
    </tbody>
</table>
<div id="editModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Awesome. I have it.</h2>

    <p class="lead">Your couch. It is mine.</p>

    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="deleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Awesome. I have it.</h2>

    <p class="lead">Your couch. It is mine.</p>

    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>