<% content_for :title do %><%= params[:channel] %>
<% end %>
<% content_for :channel do %><%= params[:channel] %>
<% end %>
<div class="panel callout radius">
    <h1>
        Quotes for <%= params[:channel] %>
    </h1>
</div>
<% if @writable %>
    <a href="#" class="button expand">New</a>
<% end %>
<table class="responsive">
    <thead>
    <tr>
        <th width="100">ID</th>
        <th width="100%">Quote</th>
        <% if @writable %>
            <th></th>
        <% end %>
    </tr>
    </thead>
    <tbody>
    <% index = 0 %>
    <% @quote.each do |quote| %>
        <tr>
            <td><%= quote.id %></td>
            <td><%= quote.text %></td>
            <% if @writable %>
                <td>
                    <div>
                        <a href="#" style="margin: auto" data-reveal-id="editModal" class="button small split">Edit <%= raw("<span data-dropdown='drop-#{index}'>") %></span></a>
                    </div><%= raw("<ul id='drop-#{index}' class='f-dropdown' data-dropdown-content>") %>
                    <li><a data-reveal-id="deleteModal" href="#">Delete</a></li>
                    </ul>
                </td>
            <% end %>
        </tr>
        <% index+=1 %>
    <% end %>

    </tbody>
</table>
<div id="editModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Awesome. I have it.</h2>

    <p class="lead">Your couch. It is mine.</p>

    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="deleteModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Awesome. I have it.</h2>

    <p class="lead">Your couch. It is mine.</p>

    <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>