<% content_for :title do %><%= 'Home' %>
<% end %>
<div xmlns="http://www.w3.org/1999/html">
    <div class="row"></div>
    <% @channels.each do |channel| %>
        <div class="dropdown col-xs-4 col-sm-3 col-md-2">
            <button class="btn btn-block btn-primary dropdown-toggle" type="button" id="dropdownMenu-<%=channel %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= channel %>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu-<%=channel %>">
                <li><a href="/dashboard/<%= channel %>/aliases">Aliases</a></li>
                <li><a href="/dashboard/<%= channel %>/quotes">Quotes</a></li>
                <li><a href="/dashboard/<%= channel %>/commands">Commands</a></li>

            </ul>
        </div>

    <% end %>
</div>