<% content_for :title do %><%= 'Home' %>
<% end %>
<div xmlns="http://www.w3.org/1999/html">
    <script>$(document).foundation('dropdown', 'reflow');</script>
    <% @channels.each do |channel| %>
        <a style="min-width:200px" data-dropdown="drop-<%= channel %>" class="button"><%= channel %></a>

        <div id="drop-<%= channel %>" class="f-dropdown content text-center" data-dropdown-content aria-hidden="true" tabindex="-1">
            <span><a href="/dashboard/<%= channel %>/aliases">Aliases</a></span>
            <br>
            <span><a href="/dashboard/<%= channel %>/quotes">Quotes</a></span>
            <br>
            <span><a href="/dashboard/<%= channel %>/commands">Commands</a></span>


        </div>
    <% end %>
    <div id="loadingModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
        <div class="loader">LOADING...</div>
    </div>
</div>