<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>OTB Web Interface</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript">
        function getChannelName() {
            $.getJSON(window.location.href + '/get_channel_name', function (data) {
                $('#channelName').text(data);
                $('#channelLinks').append($('<li/>').append($('<a/>').prop("href", "/dashboard/" + data + "/commands").text("Commands"))).append($('<li/>').append($('<a/>').prop("href", "/dashboard/" + data + "/aliases").text("Aliases"))).append($('<li/>').append($('<a/>').prop("href", "/dashboard/" + data + "/quotes").text("Quotes")));
                document.title = data + " | OTB Web Interface";
                $('#back').append('<span/>').addClass('glyphicon glyphicon-arrow-left');
            });
        }
    </script>
</head>

<body>
<div class="panel" style="padding-left: 0;padding-right: 0;padding-bottom: 0;">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="pull-left"><a href="/" id="back"></a></li>
                    <li class="pull-left"><a style="font-size:100%;" id="channelName"></a></li>
                    <li><a class="text-center">OTB Web Interface</a></li>
                    <li class="pull-right">
                        <ul class="nav navbar-nav" id="channelLinks">

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</div>

<div style="min-height: 80% !important;" class="row fullWidth">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <%= yield %>
    </div>
</div>
<footer class="navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center">
                <ul class="nav navbar-nav">
                    <li><a href="https://otbproject.github.io" target="_blank">OTB Project</a></li>
                    <li><a>Web Interface Version: 1.1-SNAPSHOT</a></li>
                </ul>


            </div>
        </div>
    </div>


</footer>

</body>
</html>
